<div id=job-search class="col-md-6">
<h2>Hae työpaikkoja aihetunnisteella</h2>

<form id="job-search-form">
  <input id="job-search-input" name="tag-name" type="text" placeholder="aihetunniste">

</form>
<div id="job-search-actions">
</div>

</div>
