.container {
  max-width: 800px;
  margin: 0 auto;
}


.tags-list__tag {
  max-width: 400px;
  overflow: auto;
  padding: 10px;

}

.tags-list__tag:nth-child(even) {
  background: #EEF;
}

.tags-list__tag:nth-child(odd) {
  background: #FEE;
}

.tags-list__tag__name {
  width: 50%;
  float: left;
  display: inline;
  color: #666;
  font-family: sans-serif;
}

.tags-list__tag input[type=text] {
  height: 21px;
}

.tags-list__tag__buttons {
  width: 50%;
  float: right;
  text-align: right;
  vertical-align: middle;
}


.tags-list__tag__buttons__save {
  display: none;
}

.tags-list__tag__buttons__cancel {
  display: none;
}

#job-search {
  background-color: #FDD;
}

#job-search .btn {
  margin: 2px;
}

.ontop {
  z-index: 999;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: none;
  position: fixed;
  background: rgba(0,0,0, 0.4);
  color: #aaaaaa;
}

#jobs-popup {
  max-width: 600px;
  margin: 20px auto;
  position: relative;
  color: #000000;
  background: rgba(255, 255, 255, 1);
  /* To align popup window at the center of screen*/
  padding: 20px;
  box-shadow: 1px 1px 10px #888888;
  max-height: 600px;
  overflow-y: scroll;

}

#jobs-popup h3{
  color: blue;
}

.close-button-container {
  text-align: right;
}

.job-view {
  border-top: 1px solid #F9F;
  padding: 10px;
}

.job-view h4 {
  margin: 0;
}

.job-view:hover {
  background-color: #FEF;
}

button#more-jobs {

}


.stop-scrolling {
  height: 100%;
  overflow: hidden;
}
